services:
  server:
    build: .
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    depends_on:
      pocketbase:
        condition: service_healthy # This ensures server waits until PB is fully ready
    restart: unless-stopped

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    ports:
      - "${POCKETBASE_PORT:-8090}:8090"
    volumes:
      - ./pb_data:/pb_data
    env_file:
      - .env
    entrypoint: >
      /bin/sh -c "
      echo 'Creating superuser...' &&
      pocketbase superuser upsert ${POCKETBASE_ADMIN_EMAIL} ${POCKETBASE_ADMIN_PASSWORD} &&
      echo 'Starting PocketBase server...' &&
      pocketbase serve --http=0.0.0.0:8090
      "
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8090/api/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped