services:
  server:
    build: .
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    depends_on:
      - pocketbase
    restart: unless-stopped

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    ports:
      - "${POCKETBASE_PORT:-8090}:8090"
    volumes:
      - /srv/dev-disk-by-uuid-218e2322-9f62-463e-95cf-f6df2c89850f/docker/betweenusServerData/pb_data:/pb_data
    environment:
      - POCKETBASE_ADMIN_EMAIL=${POCKETBASE_ADMIN_EMAIL}
      - POCKETBASE_ADMIN_PASSWORD=${POCKETBASE_ADMIN_PASSWORD}
    restart: unless-stopped
    entrypoint: /bin/sh -c "
      ./pocketbase serve --http=0.0.0.0:8090 &
      PB_PID=$$!;
      sleep 5;
      ./pocketbase superuser upsert $${POCKETBASE_ADMIN_EMAIL} $${POCKETBASE_ADMIN_PASSWORD};
      wait $$PB_PID
      "